<div class="container">
  <div class="jumbotron">
    <h1>Life Quotes!</h1>
    <h3>Sharing memorable quotes</h3>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-4" id="one">
        <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
      </div>
      <div class="col-8" id="two">
        <div class="row">
          <h3>Memorable Quotes</h3>
        </div>
        <div class="row" *ngFor='let quote of quotes;let i = index'>
<ul>
        <li>  <h4 id="{{i}}" appHighlight>{{quote.name}} submitted on {{quote.completeDate|date}}</h4><li>
        </ul>
<div class="row">
          <button class="btn btn-primary" (click)='toogleDetails(i)'>Quote Details</button>
</div>
          <div class="row" *ngIf='quote.showDescription'>

            <app-quote-details [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
          </div>
        </div>

      </div>


    </div>


  </div>

</div>
