

  <div class="container">
  <div class="jumbotron">
    <h1 id="kik">Life Quotes!</h1>
    <h3 id="tit">Sharing memorable quotes</h3>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-4" id="one">
        <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
      </div>
      <div class="col-8" id="two">
        <div class="row" id="lol">
          <h3>Memorable Quotes</h3>
        </div>
        <!-- <div class="row">
          <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Nelson Mandela</mat-card-title>
    <mat-card-subtitle>Posted</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Nelson Mandela">
  <mat-card-content>
    <p>
      {{quote}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
        </div> -->
        <!-- <div class="row" *ngFor='let quote of quotes;let i = index'>

          <h4 id="{{i}}" appHighlight>{{quote.name}}</h4>

          <div class="row">
            <button class="btn btn-primary" (click)='toogleDetails(i)'>Quote Details</button>
          </div>
          <div class="row" *ngIf='quote.showDescription'>

            <app-quote-details [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
          </div>
        </div> -->
        <div class="card" style="width: 20rem;">
          <div class="card-body" *ngFor='let quote of quotes;let i = index'>
            <h5 class="card-title">{{quote.name}}</h5>
            <p class="card-text" *ngIf='quote.showDescription'>{{description}}</p>
            <!-- <like-box [numberOfLikes]="postLikes"
                      (change)="onPostLikesUpdate($event)">
            </like-box> -->
          </div>
        </div>

      </div>


    </div>


  </div>
