<div class="container">
  <div class="jumbotron">
    <h1 id="kik">Life Quotes!</h1>
    <h3 id="tit">Sharing memorable quotes</h3>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-4" id="one">
        <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
      </div>
      <div class="col-8" id="two">
        <div class="row" id="lol">
          <h3>Memorable Quotes</h3>
        </div>

        <div class="row">
          <div class="card" id="crd" *ngFor='let quote of quotes;let i = index'>
            <div class="card-title">
              <h5><strong>{{quote.name}}</strong></h5></div>

            <div class="card-body" id="ppp">

              <p>{{quote.description}}</p>

              <!-- to show votes from vote app component + deleteQuote form dq details--></div>
              <div class="card-footer" id="hut">
                <div class="row">
                  <div class="col-6">
                    <app-vote> </app-vote>
                  </div>
                  <div class="col-4" id="small">
                    <p>Submitted by {{quote.submitter}}, {{quote.completeDate|dateCount}} days ago</p>
                  </div>
                  <div class="col-2">
                    <app-quote-details [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
                  </div>
                </div>
              </div>

            </div>
          </div>


        </div>


      </div>
