.jumbotron {
  align-content: center;
    text-align: center;
  background-image: url('/assets/eight.jpg');
  color: orange;
}

#one {
  background-color: grey;
}

#two {
  background-color: blue;
  float: right;
}
