.jumbotron {
  align-content: center;
  background-color: brown;
  text-align: center;
  background-image: url('/assets/eight.jpg');
}

#one {
  background-color: grey;
}

#two {
  background-color: blue;
  float: right;
}
